<div class="row">
  <footer class="page-footer nav_footer_color_p1">

    <div class="footer-copyright">
      <div class="content">
        © 2023 Showing skills
      </div>
    </div>

  </footer>
</div>   