<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Compiled and minified CSS --}}
    <link rel="stylesheet" href="/styles/materialize.min.css">
    <link rel="stylesheet" href="/styles/materialize-icon.css">
    {{!--Styles--}}
    <link rel="stylesheet" href="/style.css">
    <title>Users Managment</title>
</head>
<body>
    {{> nav}}

    {{{body}}}

    
    <!-- Compiled and minified JavaScript -->
    <script src="/styles/materialize.min.js"></script>
    <script src="/script.js"></script>  
</body>
</html>