<div class="row"> <!--Container Edit-->

  <div class="fullHeightLeft  valign-wrapper"> <!--Main Edit-->
    <div class="col offset-s3 text-size-20">  <!--Work area--> 
      <div class="col s7"> <!--Form Edit content-->

        <!--Alert Edit-->
        <div class="row">
          <div class="col s12">
            {{#if alert}}
              {{> menssagge}}
            {{/if}}
          </div>
        </div>
        
        <!--Form Edit Title-->
        <h2 class="center">Edit user</h2>

        <!--Form Edit Stiket-->
        <div class="none">
          <a href="/list" type="button">List
            <i class="tiny material-icons"> list </i>
          </a>
          <a class="black-text">/</a>
          <a class="black-text">Edit
            <i class="tiny material-icons"> edit </i>
          </a>
        </div>

        <!--Form Edit-->
        <div class="card">
          {{#if users}}
          <form action="/edit/{{users.id}}" method="post">
            {{> form}}

            <!--Buttons-->
            <div class="row center">
              <button class="btn waves-effect waves-light" >Update
              <i class="material-icons">update</i>
              </button>
              <button class="btn red waves-effect waves-light disabled" type="clear">Clear
              <i class="material-icons right">clear</i>
              </button>
            </div>
            
          </form>
          {{/if}}
          <p class="center">© Showing skills </p>
        </div>

      </div> <!--End Form content-->

    </div> <!--End Work area-->  
  </div> <!--End Main Add-->

</div><!--End Container Add-->
