<main class="index row"> <!--Container Add-->

  <header class="masthead valign-wrapper"> <!--Main Add-->
    <div class="container white-text accent-2">  <!--Work area--> 
      <div class="col offset-s4 s5">
        <!--Title-->
        <h1 class="center blue white-text darken-3">User Managment</h1>

        <h3 class="center blue white-text darken-3">
          <em>create your list</em>
        </h3>
        <div class="center">
          <a href="/list" class="btn teal darken-2 center mt-8">Let's get started </a>
        </div>
      </div>

    </div> <!--End Work area-->  
  </header> <!--End Main Add-->

</main><!--End Container Add-->